#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "dumbpad"
name = "DumbPad"
description.en = "Simple notepad application"
description.fr = "Application simple de bloc-notes"

version = "2025.08.31~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "GPL-3.0"
website = "https://www.dumbware.io/"
admindoc = "https://www.dumbware.io/DumbPad"
code = "https://github.com/DumbWareio/DumbPad"
fund = "https://buymeacoffee.com/dumbware"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "200M"
ram.build = "200M"
ram.runtime = "70M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"
    
[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/DumbWareio/DumbPad/archive/d6889434f0a2b5dd12b0d261e917f6dcf4dd6099.tar.gz"
    sha256 = "9f3e586c02e69be0fee644c06ce6ec9d39fb1f2902dad0557c0cd201b9e61017"
    autoupdate.upstream = "https://github.com/DumbWareio/DumbPad"
    autoupdate.strategy = "latest_github_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.nodejs]
    version = "22"
